@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<p>
    <a class="nav-link text-dark" asp-controller="Вузы" asp-action="Index">ВУЗы</a>
    <a class="nav-link text-dark" asp-controller="Преподаватели" asp-action="Index">Преподаватели</a>
    <a class="nav-link text-dark" asp-controller="Группы" asp-action="Index">Группы</a>
    <a class="nav-link text-dark" asp-controller="Студенты" asp-action="Index">Студенты</a>
    <a class="nav-link text-dark" asp-controller="Сценарии" asp-action="Index">Сценарии</a>
    <a class="nav-link text-dark" asp-controller="Задачи" asp-action="Index">Задачи</a>
    <a class="nav-link text-dark" asp-controller="Пользователь" asp-action="Index">Пользователи</a>
    <a class="nav-link text-dark" asp-controller="СтудентЗадача" asp-action="Index">Студент-Задача</a>
</p>