@model IEnumerable<WebLab.СтудентЗадача>

@{
    ViewData["Title"] = "Ошибочка";
}

<h1>@ViewBag.Text</h1>

<p>
    <a asp-action="Index">Вернутся к перечню контрактов "Студент-Задача"</a>
</p>
